body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1370px;
  height:50px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1370px;
  height:50px;
}
#u2 {
  position:absolute;
  left:2px;
  top:17px;
  width:1366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:40px;
  top:10px;
  width:210px;
  height:30px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:259px;
  top:49px;
  width:1111px;
  height:870px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:870px;
}
#u7 {
  position:absolute;
  left:2px;
  top:427px;
  width:1107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:265px;
  top:55px;
  width:1100px;
  height:855px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:855px;
}
#u9 {
  position:absolute;
  left:2px;
  top:420px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:270px;
  top:60px;
  width:1090px;
  height:840px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1090px;
  height:840px;
}
#u11 {
  position:absolute;
  left:2px;
  top:412px;
  width:1086px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:276px;
  top:67px;
  width:1078px;
  height:823px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1078px;
  height:823px;
}
#u13 {
  position:absolute;
  left:2px;
  top:404px;
  width:1074px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:280px;
  top:72px;
  width:1070px;
  height:40px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1070px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:1066px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:290px;
  top:81px;
  width:20px;
  height:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:50px;
  width:260px;
  height:1200px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:1200px;
}
#u20 {
  position:absolute;
  left:2px;
  top:592px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:170px;
  width:260px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u22 {
  position:absolute;
  left:2px;
  top:13px;
  width:256px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:410px;
  width:260px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u24 {
  position:absolute;
  left:2px;
  top:13px;
  width:256px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:690px;
  width:260px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u26 {
  position:absolute;
  left:2px;
  top:13px;
  width:256px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:220px;
  width:260px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u28 {
  position:absolute;
  left:2px;
  top:14px;
  width:256px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:270px;
  width:260px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u30 {
  position:absolute;
  left:2px;
  top:14px;
  width:256px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:320px;
  width:260px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u32 {
  position:absolute;
  left:2px;
  top:14px;
  width:256px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:460px;
  width:260px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u34 {
  position:absolute;
  left:2px;
  top:14px;
  width:256px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:0px;
  top:510px;
  width:260px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u36 {
  position:absolute;
  left:2px;
  top:14px;
  width:256px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:560px;
  width:260px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u38 {
  position:absolute;
  left:2px;
  top:14px;
  width:256px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:610px;
  width:260px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u40 {
  position:absolute;
  left:2px;
  top:14px;
  width:256px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:740px;
  width:260px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u42 {
  position:absolute;
  left:2px;
  top:14px;
  width:256px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:790px;
  width:260px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u44 {
  position:absolute;
  left:2px;
  top:14px;
  width:256px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:18px;
  top:70px;
  width:80px;
  height:80px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u46 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:108px;
  top:98px;
  width:145px;
  height:25px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:0px;
  top:840px;
  width:260px;
  height:40px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u50 {
  position:absolute;
  left:2px;
  top:14px;
  width:256px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:319px;
  top:84px;
  width:65px;
  height:14px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:14px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:310px;
  top:166px;
  width:194px;
  height:154px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:154px;
}
#u55 {
  position:absolute;
  left:2px;
  top:69px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:514px;
  top:166px;
  width:194px;
  height:154px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:154px;
}
#u57 {
  position:absolute;
  left:2px;
  top:69px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:718px;
  top:166px;
  width:194px;
  height:154px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:154px;
}
#u59 {
  position:absolute;
  left:2px;
  top:69px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:922px;
  top:166px;
  width:194px;
  height:154px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:154px;
}
#u61 {
  position:absolute;
  left:2px;
  top:69px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:1126px;
  top:166px;
  width:194px;
  height:154px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:154px;
}
#u63 {
  position:absolute;
  left:2px;
  top:69px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
